@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@import url("./themes/dark-theme.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  color: var(--color-text);
}

/* Header */
.header {
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > * {
  margin: 1.5rem 1rem;
}

/* Searchbox */
.search {
  /* background-color: red; */
  margin: 1rem 0;
}

.searchbox {
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.searchbox input {
  background-color: var(--color-secondary);
  color: var(--color-text);
  padding: 10px 70px;
  border-radius: 3px;
  border: none;
  outline: 0;
  width: 100%;
  margin: 0 1rem;
}

/* Dropdown */
/* .dropdown input { */
  /* background-color: var(--color-secondary);
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  outline: 0;
  margin: 0 1rem;
} */

/* Card */
.country-card {
  background-color: var(--color-secondary);
  /* border: 2px solid red; */
  border-radius: 5px;
  margin: 2.3rem auto;
  width: 70%;
}

.country-card .country-flag img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.country-card .country-info {
  /* border: 1px solid red; */
  padding: 0.5rem 1.5rem;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
}

.dropdown-text {
  background-color: var(--color-secondary);
  color: white;
  border-radius: 3px;
  padding: 16px;
  border: none;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-secondary);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}