@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
  /* background-color: var(--color-primary);
  color: var(--color-text); */
}

.App {
  background-color: var(--color-primary);
  color: var(--color-text);
}

/* Header */
.header {
  background-color: var(--color-secondary);
  /* background-color: gray; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > * {
  margin: 1.5rem 1rem;
}

.header .theme-mode {
  /* background-color: green; */
  display: flex;
  justify-content: space-around;
}

.theme-mode > span {
  /* background-color: red; */
  margin-left: 2px;
  font-weight: 600;
}

/* theme toggle */
.btn-toggle {
  border: none;
  cursor: pointer;
  background-color: var(--color-primary);
}

/* Searchbox */
.searchbox {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.searchbox i {
  position: absolute;
  left: 50px;
}

.searchbox input {
  background-color: var(--color-secondary);
  color: var(--color-text);
  padding: 10px 70px;
  border-radius: 3px;
  border: none;
  outline: 0;
  width: 100%;
  margin: 1rem;
}

/* Card */
.country-card {
  background-color: var(--color-secondary);
  /* border: 2px solid red; */
  border-radius: 5px;
  margin: 2.3rem auto;
  width: 70%;
}

.country-card .country-flag img {
  border-top-left-radius: 5px;
  width: 100%;
  border-top-right-radius: 5px;
}

.country-card .country-info {
  /* border: 1px solid red; */
  padding: 0.5rem 1.5rem;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
}

.dropdown-text {
  background-color: var(--color-secondary);
  color: white;
  border-radius: 3px;
  padding: 0.7rem 3rem 0.7rem 0.3rem;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-secondary);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* DetailPage */
.detail-page .country-flag {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
}

.detail-page .country-flag img {
  width: 70%;
}

/* Back Button */
a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: orange;
}

.btn {
  padding: 5px 35px;
  background-color: var(--color-secondary);
  border: none;
  margin: 2rem 3.5rem 0;
  border-radius: 5px;
}

@media screen and (min-width: 765px) {
  .content {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
  }
}
